venv/
.ipynb_checkpoints/
CharlotteDack_CC_assignment1.ipynb
Charlotte_PythonExercises2 (1) (2).ipynb
Charlotte_PythonExercises2 (1).ipynb
Charlotte_PythonExercises3-2 (2) (1).ipynb
Charlotte_PythonExercises3-2.ipynb
Comparing_my_survey_results.ipynb
Untitled.ipynb
apidemo/
assignment_5/
downloaded_gif.gif
spotifydemo.ipynb
